.slick-dots.slick-thumb li {
  width: auto;
  height: auto;
}

.slider-image {
  align-self: flex-end;
  width: 100%;
  height: auto;
  max-width: 806px;
  aspect-ratio: 806/477;
  position: relative;
}



.slick-dots.slick-thumb {
  position: absolute !important;
  width: fit-content;
  bottom: initial !important;
  display: flex !important;
  flex-direction: row;
  justify-items: center;
  align-items: center;
  gap: 25px;
  top: calc(100% + 100px);
  transition-timing-function: ease-in-out !important;
  transition: all 750ms !important;
  opacity: 0;
}

/* XL */
@media only screen and (min-width: 1536px) {
  .slider-image {
    height: 100%;
    width: 100%;
    max-width: unset;
  }
}

/* LG */
@media only screen and (min-width: 1301px) and (max-width: 1536px) {
  .slider-image {
    height: 100%;
    width: auto;
    max-width: unset;
  }
}

/* MD */
@media only screen and (min-width: 900px) and (max-width: 1300px) {
  .slick-dots.slick-thumb {
    top: calc(100% + 100px);
  }

  .slider-image {
    height: 100%;
    width: auto;
  }
}

/* SM */
@media only screen and (min-width: 600px) and (max-width: 899px) {
  .slider-image {
    width: 100%;
    height: auto;
  }  
}

.slick-list {
  overflow: visible !important;
}

.carouselStyles .slick-list {
  overflow: hidden !important;
  z-index: 1;
}

.carouselStyles .slick-slide {
  visibility: hidden;
}

.carouselStyles .slick-slide.slick-active {
  visibility: visible;
}