.main-carousel .carousel {
  height: 710px;
}

.carousel .control-dots {
  position: absolute;
  bottom: 0;
  margin: 10px 0;
  text-align: inherit;
  width: 100%;
  z-index: 1;
  left: 200px;
  display: flex;
  align-items: center;
  transition: translate 0.5s;
}
