DATABASE_URL="postgresql://inno:hub@database:5432/prisma?schema=public"
UMAMI_DATABASE_URL="postgresql://inno:hub@database:5432/umami"
POSTGRES_USER="inno"
POSTGRES_PASSWORD="hub"
NEXT_PUBLIC_UMAMI_URL="http://localhost:3001"
# Start umami, create a project and add the tracking id here
NEXT_PUBLIC_UMAMI_WEBSITE_ID=
